---
title: Welcome to Middleman
---

<h1 class="brand"> <span>V</span><span>i</span><span>c</span><span>D</span><span>e</span><span>v</span></h1>
<h2 class="tagline">Victoria's developer community</h2>
<p>VicDev is a group committed to fostering the developer community of Victoria, BC through technical <a href="http://www.meetup.com/VicDev/">events</a> and workshops. Come to TalkTalkTalk for three short cross-discipline talks and breakout sessions, attend a focused workshop put on by industry veterans, or just chat with other local devs on the <a href="https://vicdev-slackin.herokuapp.com/">VicDev Slack</a>.
</p>

<p>Let's help each other become <em>better</em>.</p>


<div id="mc_embed_signup">
  <form action="//surge.us12.list-manage.com/subscribe/post?u=c0e160e50165b15b62ad9699d&amp;id=178be6c54c" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div class="mc-form">
      <input type="email" value="" name="EMAIL" class="mc-email" placeholder="email address" required>
      <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
      <input type="submit" value="Keep in touch" name="subscribe" class="mc-button">
      <div style="position: absolute; left: -5000px;">
        <input type="text" name="b_c0e160e50165b15b62ad9699d_178be6c54c" tabindex="-1" value="">
      </div>
    </div>
  </form>
</div>
